@import "../../globalStyles/_variables";

.home-background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: $page-background-color;
  height: 100vh;
  overflow: hidden;
}

.home-wrapper {
  width: 80%;
  max-width: 1400px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: $page-container-shadow;
  height: 670px;
}

.home-helper {
  height: 100%;
}

.home-container {
  display: flex;
  height: calc(100% - 50px);
  overflow-y: scroll;
}