@import "../../globalStyles/_variables";

.home-right-panel {
  width: 100%;
  padding: 20px;
  background-color: #fff;
  height: auto;
}

.right-panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-panel-more-button {
  font-size: 30px;
  cursor: pointer;
  color: $primary_color;
}

.tasks-container {
  display: flex;
  flex-direction: column;
}