@import "../../globalStyles/_variables";

.add-list-container {
  position: relative;
}

.add-list-button {
  background-color: transparent;
  border: none;
  border-top: 1px solid rgb(224,224,224);
  display: flex;
  align-items: center;
  outline: none;
  cursor: pointer;
  width: 100%;
  padding-left: 3px;
  border-bottom-left-radius: 3px;
  margin-top: 20px;

  &:hover {
    background-color: #fff;
    box-shadow: 4px 2px 27px -13px rgba(0, 0, 0, 0.69);
  }

  span {
    font-size: 30px;
    font-weight: 300;
    color: $primary_color;
    margin-right: 10px;
    text-align: center;
  }

  div {
    font-weight: 400;
    line-height: 1.2;
    font-size: 16px;
    color: #6D6D6D;
  }
}

.add-list-dropdown {
  position: absolute;
  z-index: 999;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  top: 40px;
  left: 0;
  border: 2px solid $primary_color;
  background-color: #fff;
  border-radius: 5px;
  height: 120px;
  width: 250px;
  padding: 10px 20px;
  box-shadow: 4px 2px 27px -13px rgba(0, 0, 0, 0.69);
}

.add-list-dropdown--active {
  display: flex;
}

.close-dropdown-button {
  position: absolute;
  top: -8px;
  right: -10px;
  background-color: $primary_color;
  color: #fff;
  font-size: 18px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
  font-weight: bold;
  border: 2px solid $primary_color;
  padding-bottom: 1px;
}

.dropdown-input {
  padding: 5px;
  background-color: #FAFAFA;
  border: none;
  border-radius: 5px;
  outline: none;
}

.dropdown-colors-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.dropdown-color {
  cursor: pointer;
  width: 13px;
  height: 13px;

  &:hover {
    border: 1px solid black;
  }
}

.active-color {
  border: 1px solid black;
}

.custom-color-button {
  margin-left: 10px;
  cursor: pointer;
  color: #353535;

  &:hover {
    text-decoration: underline;
  }
}

.color-picker {
  position: absolute;
  z-index: 999;
  top: 105px;
  left: -2px;
  width: 250px;
  padding: 10px;
  border: 2px solid $primary_color;
  background-color: #fff;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
}

.create-list-button {
  background-color: $primary_color;
  border: none;
  border-radius: 5px;
  width: 60px;
  color: #fff;
  padding: 5px 10px;
  margin-left: auto;
  outline: none;
  cursor: pointer;
  margin-top: 10px;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.8;
  }
}